VITE_SUPABASE_URL=https://qbhmakuirxsetmhzvkpx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiaG1ha3VpcnhzZXRtaHp2a3B4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExNjM4NDYsImV4cCI6MjA4NjczOTg0Nn0.esdJSWw80BBqri8ANU3FNi9CFdePi38kMpNXdD66KQ8